/node_modules
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/packages
.idea
.phpstorm.meta.php
_ide_helper.php

# web related
tailwind.config.js
postcss.config.js
vitamin.config.js

/public/img/
/public/css/
/public/js/

!/composer.lock

cache/

config/horizon.php

logs/

storage/clockwork/

storage/eseye/

storage/tinx/

.php_cs
.php_cs.cache
.php-cs-fixer.cache