/node_modules
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/packages
.idea
.phpstorm.meta.php
_ide_helper.php
/public/img/
!/composer.lock

cache/

config/horizon.php

logs/

resources/

storage/clockwork/

storage/eseye/

storage/tinx/
